{% extends "layout.html" %}
{% block title %}Tours{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block currentmenuitem %}
<li class="menu-item"><a href="/index">Home</a></li>
<li class="menu-item"><a href="/artists">Artists</a></li>
<li class="menu-item"><a href="/albums">Albums</a></li>
<li class="menu-item"><a href="/songs">Songs</a></li>
<li class="menu-item current-menu-item"><a href="/tours">Tours</a></li>
<li class="menu-item"><a href="/about">About</a></li>
{% endblock %}
{% block content %}
<h1>nothing to see here :(</h1>

{% endblock %}
